control/dashboard.json
[{"id":"b787b884590249eb","type":"link in","z":"a57543e1798c6606","name":"read_result_in","links":["c8200653b04d836f"],"x":255,"y":160,"wires":[["9bb8435821d00d9b"]]},{"id":"9bb8435821d00d9b","type":"function","z":"a57543e1798c6606","name":"parse_modbus_data","func":"var start_idx = global.get(\"start_idx\") | 0;\n\nnode.log(\"start_idx=\" + start_idx);\n\nvar output1 = msg.payload.data[start_idx + 0];\nvar output2 = msg.payload.data[start_idx + 1];\nvar output3 = msg.payload.data[start_idx + 2];\nvar output4 = msg.payload.data[start_idx + 3];\nvar output5 = msg.payload.data[start_idx + 4];\n\nreturn [\n    { payload: output1}, \n    { payload: output2 },\n    { payload: output3 },\n    { payload: output4 },\n    { payload: output5 }];\n","outputs":5,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":160,"wires":[["db60fcd49c6d535b"],["5e210960f471ac37"],["bd6047a2acd6a386"],["cc1f26fba472058a"],["a4edd1bbf8952bcd"]]},{"id":"db60fcd49c6d535b","type":"ui_text","z":"a57543e1798c6606","group":"c2187e158a66f64b","order":3,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","className":"","x":730,"y":80,"wires":[]},{"id":"cc1f26fba472058a","type":"ui_gauge","z":"a57543e1798c6606","name":"","group":"c2187e158a66f64b","order":6,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":730,"y":200,"wires":[]},{"id":"a4edd1bbf8952bcd","type":"ui_chart","z":"a57543e1798c6606","name":"","group":"c2187e158a66f64b","order":7,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":730,"y":240,"wires":[[]]},{"id":"5e210960f471ac37","type":"ui_text","z":"a57543e1798c6606","group":"c2187e158a66f64b","order":4,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","className":"","x":730,"y":120,"wires":[]},{"id":"bd6047a2acd6a386","type":"ui_text","z":"a57543e1798c6606","group":"c2187e158a66f64b","order":5,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","className":"","x":730,"y":160,"wires":[]},{"id":"58d3e94b7b149a02","type":"ui_dropdown","z":"a57543e1798c6606","name":"","label":"","tooltip":"","place":"Select option","group":"c2187e158a66f64b","order":1,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"1","value":1,"type":"num"},{"label":"10","value":"10","type":"str"},{"label":"20","value":"20","type":"str"}],"payload":"","topic":"topic","topicType":"msg","className":"","x":300,"y":300,"wires":[["77cefb71aea50e65"]]},{"id":"77cefb71aea50e65","type":"change","z":"a57543e1798c6606","name":"","rules":[{"t":"set","p":"start_idx","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":300,"wires":[[]]},{"id":"6ba3df9cdab742b1","type":"link out","z":"a57543e1798c6606","name":"button_out","mode":"link","links":["18b467fa36da7a82"],"x":485,"y":360,"wires":[]},{"id":"3eabebef6c2aee07","type":"ui_button","z":"a57543e1798c6606","name":"","group":"c2187e158a66f64b","order":2,"width":0,"height":0,"passthru":false,"label":"button","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":290,"y":360,"wires":[["6ba3df9cdab742b1"]]},{"id":"9b568106a71f579e","type":"ui_switch","z":"a57543e1798c6606","name":"","label":"switch","tooltip":"","group":"6fa0fa0bf91f3051","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"className":"","x":290,"y":420,"wires":[["36bc62d72326b3f2"]]},{"id":"80219ba680ebe0c3","type":"ui_numeric","z":"a57543e1798c6606","name":"","label":"numeric","tooltip":"","group":"6fa0fa0bf91f3051","order":4,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"topic","topicType":"msg","format":"{{value}}","min":0,"max":10,"step":1,"className":"","x":300,"y":480,"wires":[["24c36538c7001a59"]]},{"id":"24c36538c7001a59","type":"ui_slider","z":"a57543e1798c6606","name":"","label":"slider","tooltip":"","group":"6fa0fa0bf91f3051","order":5,"width":0,"height":0,"passthru":true,"outs":"all","topic":"topic","topicType":"msg","min":0,"max":10,"step":1,"className":"","x":470,"y":480,"wires":[["e9ba431800b3574a","80219ba680ebe0c3"]]},{"id":"36bc62d72326b3f2","type":"ui_led","z":"a57543e1798c6606","order":1,"group":"6fa0fa0bf91f3051","width":0,"height":0,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"false","valueType":"bool"},{"color":"#008000","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"","x":470,"y":420,"wires":[]},{"id":"e9ba431800b3574a","type":"ui_text","z":"a57543e1798c6606","group":"6fa0fa0bf91f3051","order":3,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","className":"","x":630,"y":480,"wires":[]},{"id":"d81aa8bc.35b81","type":"ui_template","z":"a57543e1798c6606","group":"c2187e158a66f64b","name":"css","order":8,"width":0,"height":0,"format":"<style>\n/*\nRefer to \nhttps://community.homey.app/t/node-red-a-widget-based-dashboard-working-with-homey-trough-mqtt/18798/528?page=22\n*/\n\nroot, a, button, p, div {\n    -webkit-user-select: none !important;\n}\n\nbody {\n    background: -webkit-linear-gradient(\n    55deg,\n    #383838 0%,\n    #1F1F1F 50%,\n    #000000 100%\n    );\n    -webkit-touch-callout: none !important;\n}\n\nbody.nr-dashboard-theme md-toolbar,\nbody.nr-dashboard-theme md-content md-card {\n    background-color: transparent !important;\n    color: #FFFFFF;\n}\n\nui-card-panel {\n    background-color: rgba(255,255,255,0.1) !important;\n    border-radius: 10px !important;\n}\n    \n#Homey_Dashboard_Navigation {\n    background-color: transparent !important;\n    border-radius: 10px !important;\n}\n\n.md-card.md-default-theme, md-card {\n    border-radius: 10px;\n}\n\n.nr-dashboard-switch.ng-scope {\n    background-color: rgba(255,255,255,.2) !important;\n}\n\n.nr-dashboard-switch.ng-scope:hover {\n    background-color: rgba(255,255,255,.5) !important;\n}\n\n.nr-dashboard-theme .nr-dashboard-button .md-button {\n    background-color: rgba(255,255,255,.2);\n}\n\n.md-button {\n    border-radius: 10px;\n}\n\n.nr-dashboard-cardpanel layout-column {\n    background-color: rgba(255,255,255,0.2) !important;\n    background-color: transparent !important;\n    border-radius: 10px !important;\n}\n\n.nr-dashboard-theme ui-card-panel {\n    border: none;\n}\n\n.nr-dashboard-template {\n    overflow-y: visible;\n}\n.nr-dashboard-theme md-content md-card {\n    background-color: transparent !important;\n}\n\n.nr-dashboard-theme ui-card-panel p.nr-dashboard-cardtitle {\n    color: rgba(255, 255, 255, 0.5);\n}\n</style>\n\n<script>\ndocument.ontouchmove = function (e) {\n    e.preventDefault();\n}\n</script>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"global","className":"","x":290,"y":560,"wires":[[]]},{"id":"c2187e158a66f64b","type":"ui_group","name":"Group1","tab":"7abe50e7b66b466b","order":1,"disp":true,"width":8,"collapse":false,"className":""},{"id":"6fa0fa0bf91f3051","type":"ui_group","name":"Group 2","tab":"7abe50e7b66b466b","order":2,"disp":true,"width":6},{"id":"7abe50e7b66b466b","type":"ui_tab","name":"Tab1","icon":"dashboard","disabled":false,"hidden":false}]