control/flows.json
[
    {
        "id": "21121dbb5744b216",
        "type": "tab",
        "label": "플로우 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "9cf7ead92316a228",
        "type": "tab",
        "label": "플로우 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "194f6826a3f95723",
        "type": "tab",
        "label": "플로우 3",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "bf24b2e910f755aa",
        "type": "http in",
        "z": "21121dbb5744b216",
        "name": "Control page",
        "url": "/home",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 290,
        "y": 220,
        "wires": [
            [
                "0f756dd3654eb399"
            ]
        ]
    },
    {
        "id": "091cb02edf4fd76d",
        "type": "http response",
        "z": "21121dbb5744b216",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 670,
        "y": 220,
        "wires": []
    },
    {
        "id": "0f756dd3654eb399",
        "type": "template",
        "z": "21121dbb5744b216",
        "name": "휠체어 현황",
        "field": "payload",
        "fieldType": "msg",
        "format": "html",
        "syntax": "mustache",
        "template": "<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n    <style>\n        /* CSS 코드 */\n        table {\n            width: 33%;\n            /* 페이지 너비의 1/3 */\n            border-collapse: collapse;\n            margin-left: 2%;\n            /* 왼쪽 여백 추가 */\n        }\n    \n        th,td {\n            border: 1px solid black;\n            /* 검은색 얇은 테두리 */\n            padding: 8px;\n            text-align: center;\n        }\n    \n        th {\n            background-color: lightgray;\n            /* 회색 배경 */\n            font-weight: bold;\n            /* 볼드체 텍스트 */\n        }\n    </style>\n</head>\n<body>\n    <table>\n        <tr>\n            <th>번호</th>\n            <th>위치</th>\n            <th>상태</th>\n            <th>호출</th>\n        </tr>\n        <tr>\n            <td>R-01</td>\n            <td>접수대</td>\n            <td>주행 중</td>\n            <td> O </td>\n        </tr>\n        <tr>\n            <td>R-02</td>\n            <td> - </td>\n            <td>대기</td>\n            <td> X </td>\n        </tr>\n        <tr>\n            <td>R-03</td>\n            <td> - </td>\n            <td>대기</td>\n            <td> X </td>\n        </tr>\n        <tr>\n            <td>R-04</td>\n            <td>병동 약국</td>\n            <td>주행 중</td>\n            <td> X </td>\n        </tr>\n        <tr>\n            <td>R-05</td>\n            <td> - </td>\n            <td>대기</td>\n            <td> X </td>\n        </tr>   \n    </table>\n</body>\n</html>\n",
        "output": "str",
        "x": 490,
        "y": 180,
        "wires": [
            [
                "091cb02edf4fd76d"
            ]
        ]
    },
    {
        "id": "0f2f4143c4bd5869",
        "type": "template",
        "z": "9cf7ead92316a228",
        "name": "지도",
        "field": "payload",
        "fieldType": "msg",
        "format": "html",
        "syntax": "mustache",
        "template": "<!DOCTYPE html>\n<html lang=\"en\">\n\n<head>\n    <style>\n        /* CSS 코드 */\n        table {\n            width: 66%;\n            /* 페이지 너비의 2/3 */\n            border-collapse: collapse;\n            border: 1px solid black;\n            /* 검은색 얇은 테두리 */\n            float: right;\n            /* 오른쪽 정렬 */\n            margin-right: 2%;\n            /* 오른쪽 여백 추가 */\n        }\n\n        th,\n        td {\n            border: 1px solid black;\n            /* 검은색 얇은 테두리 */\n            padding: 8px;\n            text-align: center;\n        }\n\n        th {\n            background-color: lightgray;\n            /* 회색 배경 */\n            font-weight: bold;\n            /* 볼드체 텍스트 */\n        }\n        .image-container {\n        max-width: 100%;\n        text-align: center;\n        }\n        \n        .image-container img {\n        max-width: 100%;\n        height: auto;\n        }\n    </style>\n</head>\n\n<body>\n    <table>\n        <tr>\n            <th>지도</th>\n        </tr>\n        <tr>\n            <td>\n                <a href='https://ifh.cc/v-af3XX5' target='_blank'><img src='https://ifh.cc/g/af3XX5.jpg' border='0'></a>\n            </td>\n        </tr>\n    </table>\n</body>\n\n</html>",
        "output": "str",
        "x": 230,
        "y": 340,
        "wires": [
            [
                "706aa81c4e774723"
            ]
        ]
    },
    {
        "id": "ad19363188e56967",
        "type": "http in",
        "z": "9cf7ead92316a228",
        "name": "Control page",
        "url": "/home2",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 110,
        "y": 260,
        "wires": [
            [
                "0f2f4143c4bd5869"
            ]
        ]
    },
    {
        "id": "706aa81c4e774723",
        "type": "http response",
        "z": "9cf7ead92316a228",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 290,
        "y": 460,
        "wires": []
    },
    {
        "id": "a20d3efb143fac65",
        "type": "template",
        "z": "194f6826a3f95723",
        "name": "지도",
        "field": "payload",
        "fieldType": "msg",
        "format": "html",
        "syntax": "mustache",
        "template": "<!DOCTYPE html>\n<html lang=\"en\">\n\n<head>\n    <style>\n        /* CSS 코드 */\n        .table-container {\n            width: 100%;\n            /* 100% 너비 */\n            margin-top: 20px;\n            /* 위쪽 여백 추가 */\n            \n        }\n\n        /* 왼쪽 표 */\n        .left-table {\n            width: 33%;\n            /* 페이지 너비의 1/3 */\n            border-collapse: collapse;\n            float: left;\n            /* 왼쪽 정렬 */\n        }\n\n        .left-table th,\n        .left-table td {\n            border: 2px solid black;\n            padding: 13px;\n            text-align: center;\n        }\n\n        .left-table th {\n            background-color: lightgreen;\n            font-weight: bold;\n            \n        }\n\n        /* 오른쪽 표 */\n        .right-table {\n            width: 66%;\n            /* 페이지 너비의 2/3 */\n            border-collapse: collapse;\n            float: right;\n            /* 오른쪽 정렬 */\n            margin-bottom: 20px;\n        }\n\n        .right-table th,\n        .right-table td {\n            border: 2px solid black;\n            padding: 12px;\n            text-align: center;\n        }\n\n        .right-table th {\n            background-color: lightgreen;\n            font-weight: bold;\n        }\n\n        .image-container {\n            max-width: 100%;\n            text-align: center;\n        }\n\n        .image-container img {\n            max-width: 100%;\n            height: auto;\n        }\n\n        /* 주행 제어 권한 목록 */\n        .control-table {\n            width: 66%;\n            /* 오른쪽 표와 같은 너비 */\n            border-collapse: collapse;\n            \n            float: right;\n            /* 왼쪽 표와 오른쪽 표의 총 너비만큼 왼쪽 여백 추가 */\n        }\n        \n        .control-table th,\n        .control-table td {\n            border: 2px solid black;\n            padding: 12px;\n            text-align: center;\n        }\n        \n        .control-table th {\n            background-color: lightgreen;\n            font-weight: bold;\n        }\n        \n        /* 버튼 스타일 */\n        .button-container {\n            display: flex;\n            flex-direction: column;\n            align-items: center;\n            gap: 20px;\n            margin: 10px;\n            \n        }\n        \n        .button {\n            background-color: lightgray;\n            padding: 15px 20px;\n            border: none;\n            cursor: pointer;\n            padding: 20px;\n            font-weight: bold;\n            width: 100%;\n            margin-bottom: 10px;\n\n        }\n\n    </style>\n\n    <script>\n        document.addEventListener(\"DOMContentLoaded\", function () {\n            const rows = document.querySelectorAll(\".left-table tr\");\n            rows.forEach(function (row) {\n                row.addEventListener(\"click\", function () {\n                    // 모든 행의 선택 해제\n                    rows.forEach(function (r) {\n                        r.classList.remove(\"selected\");\n                    });\n\n                    // 클릭한 행에 선택 스타일 추가\n                    row.classList.add(\"selected\");\n                });\n            });\n        });\n    </script>\n\n</head>\n\n<body>\n    <div class=\"table-container\">\n        <!-- 왼쪽 표 -->\n        <table class=\"left-table\">\n            <tr>\n                <th colspan=\"4\">휠체어 현황</th>\n            </tr>\n            <tr>\n                <th>번호</th>\n                <th>목적지</th>\n                <th>상태</th>\n                <th>호출</th>\n            </tr>\n            <tr>\n                <td>R-01</td>\n                <td>접수대</td>\n                <td>주행 중</td>\n                <td> O </td>\n            </tr>\n            <tr>\n                <td>R-02</td>\n                <td> - </td>\n                <td>대기</td>\n                <td> X </td>\n            </tr>\n            <tr>\n                <td>R-03</td>\n                <td> - </td>\n                <td>대기</td>\n                <td> X </td>\n            </tr>\n            <tr>\n                <td>R-04</td>\n                <td>병동 약국</td>\n                <td>주행 중</td>\n                <td> X </td>\n            </tr>\n            <tr>\n                <td>R-05</td>\n                <td> - </td>\n                <td>대기</td>\n                <td> X </td>\n            </tr>\n            <tr>\n                <td>R-06</td>\n                <td> - </td>\n                <td>대기</td>\n                <td> X </td>\n            </tr>\n            <tr>\n                <td>R-07</td>\n                <td> - </td>\n                <td>대기</td>\n                <td> X </td>\n            </tr>\n            <tr>\n                <td>R-08</td>\n                <td> 심장검사실 </td>\n                <td>주행 중</td>\n                <td> X </td>\n            </tr>\n            <tr>\n                <td>R-09</td>\n                <td> 안과 </td>\n                <td>주행 중</td>\n                <td> X </td>\n            </tr>\n            <tr>\n                <td>R-10</td>\n                <td> - </td>\n                <td>대기</td>\n                <td> X </td>\n            </tr>\n            <tr>\n                <td>R-11</td>\n                <td> - </td>\n                <td>대기</td>\n                <td> X </td>\n            </tr>\n            <tr>\n                <td>R-12</td>\n                <td> - </td>\n                <td>대기</td>\n                <td> X </td>\n            </tr>\n            <tr>\n                <td>R-13</td>\n                <td> 정형외과 병실 </td>\n                <td>주행 중</td>\n                <td> O </td>\n            </tr>\n        </table>\n\n        <!-- 오른쪽 표 -->\n        <table class=\"right-table\">\n            <tr>\n                <th>지도</th>\n            </tr>\n            <tr>\n                <td class=\"image-container\">\n                    <a href='https://ifh.cc/v-af3XX5'\n                        target='_blank'><img src='https://ifh.cc/g/af3XX5.jpg' border='0'></a>\n                </td>\n            </tr>\n        </table>\n    </div>\n\n    <table class=\"control-table\">\n        <tr>\n            <th colspan=\"3\">주행 제어 권한</th>\n        </tr>\n        <tr>\n            <td>\n                <button class=\"button\">실행</button>\n                <button class=\"button\">취소</button>\n            </td>\n        </tr>\n    </table>\n\n</body>\n\n</html>",
        "output": "str",
        "x": 250,
        "y": 220,
        "wires": [
            [
                "0b624ce7d22460a3"
            ]
        ]
    },
    {
        "id": "8238f0886035b57c",
        "type": "http in",
        "z": "194f6826a3f95723",
        "name": "Control page",
        "url": "/home3",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 130,
        "y": 140,
        "wires": [
            [
                "a20d3efb143fac65"
            ]
        ]
    },
    {
        "id": "0b624ce7d22460a3",
        "type": "http response",
        "z": "194f6826a3f95723",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 310,
        "y": 340,
        "wires": []
    }
]
