control/flows_1.json
[
    {
        "id": "21121dbb5744b216",
        "type": "tab",
        "label": "플로우 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "bf24b2e910f755aa",
        "type": "http in",
        "z": "21121dbb5744b216",
        "name": "Control page",
        "url": "/home",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 290,
        "y": 220,
        "wires": [
            [
                "0f756dd3654eb399"
            ]
        ]
    },
    {
        "id": "091cb02edf4fd76d",
        "type": "http response",
        "z": "21121dbb5744b216",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 670,
        "y": 220,
        "wires": []
    },
    {
        "id": "0f756dd3654eb399",
        "type": "template",
        "z": "21121dbb5744b216",
        "name": "휠체어 현황",
        "field": "payload",
        "fieldType": "msg",
        "format": "html",
        "syntax": "mustache",
        "template": "<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n    <style>\n        /* CSS 코드 */\n        table {\n            width: 33%;\n            /* 페이지 너비의 1/3 */\n            border-collapse: collapse;\n            margin-left: 2%;\n            /* 왼쪽 여백 추가 */\n        }\n    \n        th,td {\n            border: 1px solid black;\n            /* 검은색 얇은 테두리 */\n            padding: 8px;\n            text-align: center;\n        }\n    \n        th {\n            background-color: lightgray;\n            /* 회색 배경 */\n            font-weight: bold;\n            /* 볼드체 텍스트 */\n        }\n    </style>\n</head>\n<body>\n    <table>\n        <tr>\n            <th>번호</th>\n            <th>위치</th>\n            <th>상태</th>\n            <th>호출</th>\n        </tr>\n        <tr>\n            <td>R-01</td>\n            <td>접수대</td>\n            <td>주행 중</td>\n            <td> O </td>\n        </tr>\n        <tr>\n            <td>R-02</td>\n            <td> - </td>\n            <td>대기</td>\n            <td> X </td>\n        </tr>\n        <tr>\n            <td>R-03</td>\n            <td> - </td>\n            <td>대기</td>\n            <td> X </td>\n        </tr>\n        <tr>\n            <td>R-04</td>\n            <td>병동 약국</td>\n            <td>주행 중</td>\n            <td> X </td>\n        </tr>\n        <tr>\n            <td>R-05</td>\n            <td> - </td>\n            <td>대기</td>\n            <td> X </td>\n        </tr>   \n    </table>\n</body>\n</html>\n",
        "output": "str",
        "x": 490,
        "y": 180,
        "wires": [
            [
                "091cb02edf4fd76d"
            ]
        ]
    }
]