control/ui_table_example_from_database.json
[{"id":"a35b9d66.16d9","type":"ui_table","z":"71ace4d7.f2e27c","group":"a7f5449d.2bedb8","name":"","order":27,"width":"16","height":"8","columns":[{"field":"ID","title":"ID","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"temp","title":"온도","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"humidity","title":"습도","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"cdc","title":"조도","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"water","title":"수분","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"co2","title":"co2","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"date","title":"DATE","width":"240","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}}],"outputs":0,"cts":false,"x":870,"y":900,"wires":[]},{"id":"338f2b5d.d98924","type":"inject","z":"71ace4d7.f2e27c","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":390,"y":860,"wires":[["5a17340.f3730cc"]]},{"id":"5a17340.f3730cc","type":"function","z":"71ace4d7.f2e27c","name":"function","func":"var aJsonArray = new Array();\n\nfor(var i = 0; i < 10; i++)\n{\n    var aJson = new Object();\n    aJson.ID = 0;\n    aJson.temp = 0;\n    aJson.humidity = 0;\n    aJson.cdc = 0;\n    aJson.water = 0;\n    aJson.co2 = 0;\n    aJson.date = \"2020-01-01 00:00:00\";\n    aJsonArray.push(aJson);\n}\n\nvar text = JSON.stringify(aJsonArray);\nvar obj = JSON.parse(text);\nmsg.payload = obj;\n\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":860,"wires":[["a35b9d66.16d9","85aa2834.c7d528"]]},{"id":"85aa2834.c7d528","type":"debug","z":"71ace4d7.f2e27c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":870,"y":840,"wires":[]},{"id":"12449dd.7d5dc62","type":"inject","z":"71ace4d7.f2e27c","name":"","topic":"","payload":"","payloadType":"str","repeat":"10","crontab":"","once":true,"onceDelay":0.1,"x":110,"y":920,"wires":[["2223f683.25ef2a"]]},{"id":"40ab3369.21237c","type":"Stackhero-MySQL","z":"71ace4d7.f2e27c","server":"f32ea2b.548ff6","name":"","x":500,"y":920,"wires":[["bd7a3308.4c39f"]]},{"id":"2223f683.25ef2a","type":"function","z":"71ace4d7.f2e27c","name":"select an item from DB","func":"msg.topic = \"SELECT * FROM smartfarm.sensor order by ID desc limit 100;\";\nmsg.payload = { };\nreturn msg;\n","outputs":1,"noerr":0,"x":300,"y":920,"wires":[["40ab3369.21237c"]]},{"id":"bd7a3308.4c39f","type":"function","z":"71ace4d7.f2e27c","name":"data parse","func":"var aJsonArray = new Array();\n\nvar j = 0; \nfor(var i = 0; i < msg.payload.length; i++)\n{\n    msg.payload[i].date = msg.payload[i].date.toLocaleString(\"en-US\", {timeZone: \"Asia/Seoul\"});\n    aJsonArray.push(msg.payload[i]);\n    j += 1;\n    if(j == 100) break;\n    \n}\n\nvar text = JSON.stringify(aJsonArray);\nvar obj = JSON.parse(text);\nmsg.payload = obj;\n\nreturn msg;\n","outputs":1,"noerr":0,"x":680,"y":980,"wires":[["3761ce31.3ae412","a35b9d66.16d9"]]},{"id":"3761ce31.3ae412","type":"debug","z":"71ace4d7.f2e27c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":890,"y":980,"wires":[]},{"id":"a7f5449d.2bedb8","type":"ui_group","z":"","name":"DashBoard","tab":"18400b5.d1858f5","order":1,"disp":true,"width":"24","collapse":false},{"id":"f32ea2b.548ff6","type":"Stackhero-MySQL-Server","z":"","name":"","host":"127.0.0.1","port":"3306","tls":false,"database":"smartfarm"},{"id":"18400b5.d1858f5","type":"ui_tab","z":"","name":"UNO BIGBOARD SMARTFARM","icon":"dashboard","disabled":false,"hidden":false}]
